@import url('https://fonts.googleapis.com/css?family=Raleway');
   /* NAV BAR STYLES */
 .navbar{
      background:#F97300;
    }

.nav-link , .navbar-brand{ 
    color: #f4f4f4;
     cursor: pointer;
}

.nav-link{
     margin-right: 1em !important;
    }

.nav-link:hover{
     background: #f4f4f4;
      color: #f97300; 
    }

.navbar-collapse{
     justify-content: flex-end;}

.navbar-toggler{ 
     background:#fff !important;
}
     /*HEADER STYLES*/
.header{
background-image: url('images/1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position-y: top;
   }


   .item:hover {
    height: 100%;
    background:#f973007d;
    position: absolute;
    width: 89%;
    padding: 5em;
    top: 0;
    border-bottom-left-radius: 0;
   }

   .overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(237, 244, 205, 0.1);
   }

   .description{
    position: absolute;
    font-size: 15px;
    top: 50%;
    left: 0;
    /* margin: auto; */
    padding: 3em;
    padding-right: 40em;
    
}
.description h1{
 color:#F97300 ;
}
.description p{
 color:whitesmoke;
 font-size: 20px;
 width: 100%;
 line-height: 1.5;
}
.description button{
 border:1px  solid #F97300;
 background:#F97300;
 color:#fff;
 
}


/* about section */

.about{
    
    margin: 8em 0 0 4em;
    padding: 1em;
    position: relative;
   }
   .about h1{
    color:#F97300;
    margin: 2em;
   }
   .about img{
    height: 400px;
       width: 400px;
       border-radius: 50%
   }
   .about span{
       font-weight: bold;
    display: block;
    color: #888;
    position: absolute;
    right: 80px;
    left: 10em;
    margin-top: 20px;
   }
   .about .desc{
    padding: 2em;
    border-left:4px solid #10828C;
   }
   .about .desc h3{
    color: #10828C;
   }
   .about .desc p{
    line-height:2;
    color:#888;
   }



/*Portfolio*/
.portfolio{
    margin: 4em 0;
       position: relative; 
   }
   .portfolio h1{
    color:#F97300;
    margin: 2em; 
   }
   .portfolio img{
     height: 20rem;
     width: 100%;
     margin: 1em;
   }


   /* contact form styles */
   .contact-form{
    margin: 6em 0;
    position: relative;  
   }
   
   .contact-form h1{
    padding:2em 1px;
    color: #F97300; 
   }
   .contact-form .right{
    max-width: 600px;
   }
   .contact-form .right .btn-secondary{
    background:  #F97300;
    color: #fff;
    border:0;
   }
   .contact-form .right .form-control::placeholder{
    color: #888;
    font-size: 16px;
   }

   /* imported google fonts at the top of this style sheet */
   html,h1,h2,h3,h4,h5,h6,a{
    font-family: "Raleway";
   }

   #footer{
       color: #f97300;
   }
   .social{
       margin-top: 30px;
       text-align: center;
       font-size: 30px;
   }
   .address  p{
    margin-top: 40px;
   }

   .svg-size1{
       background-image: url('./images/svg/digital.svg');
       width: 100px;
       height: 100px;
       margin: auto;
   }

   .svg-size2{
    background-image: url('./images/svg/quality.svg');
    width: 100px;
    height: 100px;
    margin: auto;
} 

.svg-size3{
    background-image: url('./images/svg/video-camera.svg');
    max-width: 100px;
    height: 100px;
    margin: auto;
}  

.svg-size4{
    background-image: url('./images/svg/travel.svg');
    background-size: contain;
    width: 100px;
    height: 100px;
    margin: auto;
} 

.svg-size5{
    background-image: url('./images/svg/consultancy.svg');
    background-size: contain;
    width: 100px;
    height: 100px;
    margin: auto;
}  
